/* Importação da fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0; /* Cor de fundo geral */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 82px); 
    margin-left: 82px;
    padding: 20px;
    position: relative;
}


main h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}


.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1600px;
    margin: 40px auto;
    margin-top: 100px;
    position: relative;
}


.form-container h4 {
    margin-top: 20px;
    font-size: 18px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}


.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="number"],
.form-container select {
    width: calc(50% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cccccc4d;
    box-sizing: border-box;
}

.form-container input#codigo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: calc(10% - 20px); 
}

.form-container input#bairro {
    position: absolute;
    top: 20px;
    right: 20px;
    width: calc(10% - 20px); 
}

.form-container input#estado {
    position: absolute;
    top: 20px;
    right: 20px;
    width: calc(10% - 20px); 
}

.form-container button[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #54B5EC;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.form-container button a {
    text-decoration: none;
    color: #fff;
}

.form-container button[type="submit"]:hover {
    background-color: #000000;
}

/* Responsividade para telas menores */
@media (max-width: 1200px) {
    .form-container {
        width: 90%;
    }

    .form-container input[type="text"],
    .form-container input[type="date"],
    .form-container input[type="email"],
    .form-container input[type="tel"],
    .form-container input[type="number"],
    .form-container select,
    .form-container input#codigo,
    .form-container input#bairro,
    .form-container select#estado {
        width: calc(100% - 20px);
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 15px;
    }

    .form-container input#codigo,
    .form-container input#bairro,
    .form-container select#estado {
        margin-top: 0px;
    }

    .form-container button[type="submit"] {
        width: calc(100% - 20px);
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 20px;
    }

    #user_infos span:last-child {
        font-size: 12px;
    }
}


@media (max-width: 940px){
    #user_avatar {
        width: 36px;
        height: 36px;
    }
    
    .item-description {
        width: 0px;
        font-size: 12px;
        transition: width .6s;
        height: 0px;
    }

    #user_infos span:last-child {
        color: #000;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    main h2 {
        left: auto;
        margin-bottom: 0px;
    }

    .form-container {
        width: 90%;
    }

    .form-container input#codigo,
    .form-container input#bairro,
    .form-container select#estado {
        width: calc(100% - 20px);
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 15px;
    }

    .form-container input#codigo,
    .form-container input#bairro,
    .form-container select#estado {
        margin-top: 0px;
    }

    .form-container button[type="submit"] {
        width: 100%;
        bottom: auto;
        position: relative;
        right: auto;
        margin-top: 20px;
    }

    #user_avatar {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .item-description {
        width: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 8px;
        transition: width .6s;
        height: 0px;
    }

    #user_infos span:last-child {
        color: #000;
        font-size: 10px;
    }

    
}